/* Page header */
.entry-title, .entry-title a {
    text-align: center;
    font-size: 5em;
}
#opened-votes {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
}

/* Chasing stuff */
.container {
    width: 100%;
}
.header {
    width: 100%;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0,0,0);
    padding: 0.5em;
    text-align: center;
}
.chase, .chase-row {
    width: 100%;
    margin: 2px;
}
.chase-row-cpt {
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
    height: 2.5em;
    font-weight: bold;
    font-size: 1.25em;
    text-transform: uppercase;
    line-height: 2.5em;
}
.cand-name {
    background: #CCC;
    width: 30%;
    color: #FFF;
    padding-left: 0.5em;
}
.cand-progress {
    background: #E7B220;
}
.cand-vote {
    color: #E7B220;
}

/* Elected/ not elected */
.elected .cand-name {
    background: #E7B220;
}
.not-elected .cand-name, .not-elected .cand-progress {
    background: #EEE;
}
.not-elected .cand-vote {
    color: #EEE;
}
